[MESSAGES CONTROL]

disable=
    line-too-long,
    trailing-whitespace,
    c-extension-no-member,
    too-many-lines,
    invalid-name,
    missing-function-docstring,
    unnecessary-lambda-assignment,
    possibly-used-before-assignment
